
/*公共初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
body{ font:12px,arial,\5b8b\4f53;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
select,input{vertical-align:middle;}
button, input, select, textarea{font-size:100%;}
table{border-collapse:collapse; border-spacing:0;}
a{color:#0099ff;text-decoration:none}
a:hover{color:#0082d5;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
html,body{height: 100%;background: #f5f8fa;}

/*公共组件样式*/
.hrm_mgb15{margin-bottom: 15px;}
.hrm_box{border: 1px solid #e5e7e9; box-shadow: 0.7px 1px 2px #dddedf;background: #fff;}
.hrm_item{margin-bottom: 15px;}
.hrm_item label{height: 36px;line-height: 36px;text-align: right;margin-right: 20px;min-width: 100px;display: inline-block;vertical-align: top;}
.f_r{float: right;}

.hrm_module{border-radius: 2px;margin-bottom: 20px;border: 1px solid #e5e7e9; box-shadow: 0.7px 1px 2px #dddedf;background: #fff;}
.hrm_module_nav{background: #ecf0f3;line-height: 36px;height: 36px;padding-left: 20px;}
.hrm_module_con {padding: 10px;}
/*element-ui样式修改 */
.el-tabs__header{border: 1px solid #e5e7e9; box-shadow: 0.7px 1px 2px #dddedf;background: #fff;}


/*element样式修改*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  font-size: 14px;
}
#app .el-menu{
    background: #fff;
}
#app .el-menu-item{
    padding: 0;
}
#app .el-menu-item.is-active{
    background: #eceff4;
    color:#0082d5;
}
#app .el-menu-item:hover,#app .el-submenu__title:hover{
    background: #eceff4;
    color:#0082d5;
}
#app .el-menu-item{
    padding: 0 50px;
}
#app .el-menu-item-title{
    padding: 0 20px;
}
#app .el-menu-item,#app .el-submenu__title{
    height: 50px;
    line-height: 50px;
    color: #54657e;
}
#app .app_nav_li{
    color: #54657e;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/*item common*/
.common_item{
    margin-bottom: 15px;
}
.common_item>span{
    line-height: 36px;
    float: left;
    display: inline-block;
    width: 60px;
    text-align: right;
    padding: 0 20px;
}
.common_item>div{
    padding-left: 100px;
}
.common_item_checkbox{
    margin-bottom: 10px;
}

/*table common*/
.common_table{
    margin: 20px 0;
}
.common_table_tag{
    margin-right: 10px;
}


/*oa common*/
#oaReport .oa_common_nav{
    margin: 30px 0;
}
.oa_common_page{
    margin-top: 30px;
}
.oa_common_card{
    margin-bottom: 20px;
}
.oa_common_card .el-card__body{
    padding: 0;
}
.oa_common_msg{
    cursor: pointer;
    padding: 10px;
}
.oa_common_msg_header{
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #2C3E50;
    line-height: 50px;
    text-align: center;
    color: #fff;
    float: left;
    margin: 5px;
}
.oa_common_msg_con{
    padding-left: 60px;
}
.oa_common_msg_con .el-button{
    float: right;
    margin-left: 10px;
}
.oa_common_msg_span{
    line-height: 30px;
}
.oa_common_msg_reply{
    padding: 10px 0;
}
.oa_common_con{
    padding: 0 20px;
}
.oa_common_reply{
    background: #f5f7fd;
    padding: 0 20px;
}
.oa_common_reply_main .el-button{
    float: right;
    margin-left: 10px;
}
.oa_common_item_title{
    color: #666;
}
.oa_common_item_con{
    padding: 20px 0;
}
.oa_common_time{
    color: #666;
}

.oa_common_btn{
    padding-left: 150px;
}


