#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  font-size: 14px;
  padding-top: 60px;
}
/*公共初始化 可删除*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
body{ font:12px,arial,\5b8b\4f53;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
select,input{vertical-align:middle;}
button, input, select, textarea{font-size:100%;}
table{border-collapse:collapse; border-spacing:0;}
a{color:#0099ff;text-decoration:none}
a:hover{color:#0066cc;text-decoration:underline}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/*element样式修改*/
#app .el-menu{
    background: #343f51;
}
#app .el-menu-item{
    padding: 0;
}
#app .el-menu-item.is-active{
    background: #3d83e9;
}
#app .el-menu-item:hover,#app .el-submenu__title:hover{
    background: #3d83e9;
}
#app .el-menu-item{
    padding: 0 50px;
}
#app .el-menu-item-title{
    padding: 0 20px;
}
#app .el-menu-item,#app .el-submenu__title{
    height: 50px;
    line-height: 50px;
    color: #cfdcec;
}
#app .app_nav_li{
    color: #cfdcec;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/*item common*/
.common_item{
    margin-bottom: 15px;
}
.common_item>span{
    line-height: 36px;
    float: left;
    display: inline-block;
    width: 60px;
    text-align: right;
    padding: 0 20px;
}
.common_item>div{
    padding-left: 100px;
}
.common_item_checkbox{
    margin-bottom: 10px;
}

/*table common*/
.common_table{
    margin: 20px 0;
}
.common_table_tag{
    margin-right: 10px;
}


/*oa common*/
.oa_common_card{
    margin-bottom: 20px;
}
.oa_common_card .el-card__body{
    padding: 0;
}
.oa_common_msg{
    cursor: pointer;
    padding: 10px;
}
.oa_common_msg_header{
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #2C3E50;
    line-height: 50px;
    text-align: center;
    color: #fff;
    float: left;
    margin: 5px;
}
.oa_common_msg_con{
    padding-left: 60px;
}
.oa_common_msg_con .el-button{
    float: right;
    margin-left: 10px;
}
.oa_common_msg_span{
    line-height: 30px;
}
.oa_common_msg_reply{
    padding: 10px 0;
}
.oa_common_con{
    padding: 0 20px;
}
.oa_common_reply{
    background: #f5f7fd;
    padding: 0 20px;
}
.oa_common_reply_main .el-button{
    float: right;
    margin-left: 10px;
}
.oa_common_item_title{
    color: #666;
}
.oa_common_item_con{
    padding: 20px 0;
}
.oa_common_time{
    color: #666;
}


